@model Person

<div class="text-center display-4">Handle Form</div>

<div>
    <span>Nome: </span><span>@Model.FirstName</span>
</div>
<div>
    <span>Cognome: </span><span>@Model.LastName</span>
</div>
<div>
    <span>Reddito: </span><span>@Model.Income</span>
</div>