<table class="table">
  <tr>
    <th>#</th>
    <th>gusto</th>
    <th>prezzo</th>
    <th>disponibile</th>
    <th>Azioni</th>
  </tr>
  <tr *ngFor="let pizza of pizze">
    <td>{{pizza.id}}</td>
    <td>{{pizza.gusto}}</td>
    <td>{{pizza.prezzo}}</td>
    <td>{{pizza.disponibile}}</td>
    <td>
      <button (click)="addToCart(pizza)" class="btn btn-primary"> Carrello </button>
      <button [routerLink]="['/edit-pizza',pizza.id]" class="btn btn-warning"> Modifica </button>
      <button (click)="delete(pizza.id)" class="btn btn-danger"> Elimina </button>
    </td>
  </tr>
</table>
