@model W2.D4.BlogWebApp.Entities.Comment

@{
    ViewData["Title"] = "Commento";
}

<h1>Commento a &laquo;@ViewBag.Article&raquo;</h1>

<h4>Scrivi il tuo commento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Comment" asp-route-id="@ViewBag.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="10" cols="60"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Invia" class="btn btn-primary" /> 
                <a asp-action="Index" class="btn btn-secondary">Indietro</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
