@model List<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Categorie Prodotti</h1>
</div>
<div class="row">
    <table class="table offset-2 col-8">
        <tbody>
            @foreach (var category in Model) {
                <tr>
                    <td>@category.Name</td>
                    <td><a class="btn btn-sm btn-info" asp-action="Products" asp-route-id="@category.Id">Vedi</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>