<h2>Esempi pipe</h2>

{{'ciao' | uppercase}}
 <hr>

 <!--now contiene un oggetto date, che viene convertito e visualizzato diversamente grazie alla pipe date-->
 {{now | date : 'short'}}<br>
 {{now | date : 'hh:mm:ss'}}

 <hr>
<!--mostro il simbolo della rupia indiana-->
 {{5 | currency : 'INR'}}

 <hr>
<!--cut è una pipe custom fatta da noi in classe, vedi file cut.pipe.ts-->
 {{testoDaTagliare | cut}}
 <hr>
 {{testoDaTagliare | cut : 70}}

 <hr>


<h2>Esempi direttive</h2>

<div appColora colore="green">
  Elemento con direttiva colora
</div>
<div appColora>
  Elemento con direttiva colora
</div>

<!--questo testo è qui solo per creare uno scorrimento e testare le direttive con onscroll-->
<div>

  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus veritatis blanditiis, nobis cum distinctio velit ipsum unde exercitationem mollitia excepturi voluptate natus atque perferendis esse sequi architecto iste, possimus animi?
  Dolores, magni officiis excepturi impedit quasi quod repudiandae veritatis consequatur ad tempore, laudantium consectetur molestias soluta sint facere possimus! Ad temporibus molestias unde amet placeat explicabo dignissimos esse, aperiam nisi!
  Corrupti ipsum harum ex pariatur quaerat architecto consequuntur iure maiores quae accusantium saepe, praesentium totam! Dolore voluptatem repellendus aliquid consectetur explicabo, sed cum exercitationem. Quia quisquam ea vel exercitationem aliquam!
  Sit illum facilis, explicabo temporibus odio earum ratione adipisci odit illo nihil officia necessitatibus obcaecati cum distinctio quia vel, incidunt minima, tenetur suscipit dolores saepe! Nam, ipsa libero. Pariatur, aliquam.
  Laudantium iure commodi repellendus fugiat molestias. Suscipit, mollitia aliquid ipsa itaque amet corrupti ullam. Unde veritatis, nobis nesciunt officia quae dolorum. Quisquam tempore labore obcaecati hic, amet placeat ut expedita!
  Aliquam necessitatibus, placeat voluptatum magni magnam perferendis voluptatem. Recusandae nulla corporis iste hic quae architecto, corrupti inventore, beatae nobis, modi fugiat atque fuga? Fuga quisquam dignissimos numquam, sapiente tempora tempore.
  Quisquam asperiores pariatur sunt quam voluptatum modi quaerat nam earum fuga, facere velit maiores aspernatur ad recusandae possimus soluta sequi veritatis quo porro incidunt laborum molestias laudantium ab nesciunt? Ipsum.
  Dolore ullam magnam eum voluptas earum doloremque illo repellat nihil provident cum exercitationem, repellendus consequatur aut soluta? Sapiente, quisquam nobis ab voluptates reprehenderit pariatur quidem saepe dolorem deleniti maiores sed.
  Maiores repudiandae vitae voluptatum incidunt nesciunt harum provident, veritatis, natus quia veniam laborum? Adipisci odio iure quasi, repudiandae pariatur fugiat, optio voluptates quo recusandae beatae accusamus exercitationem quaerat, debitis doloribus.
  Dolor officiis nam blanditiis vero laudantium illo culpa rerum, pariatur excepturi quam nihil reprehenderit in deleniti! Dolorum amet labore voluptates libero molestias nulla sint, aspernatur repellendus quae! Error, voluptates obcaecati.
  Mollitia tempore, explicabo quidem voluptatem est ea dolores? Id dolore saepe exercitationem assumenda provident pariatur nihil minus? Facilis maiores corrupti dicta sit officiis inventore! Repudiandae facere quos neque eligendi eius.
  Vero, rerum. Sequi sit, cum, pariatur alias eaque neque distinctio eius placeat reiciendis, veniam vel. Vel dicta consequuntur autem possimus debitis? Accusantium voluptates sunt magnam at sit, vero culpa soluta.
  Repellat nesciunt, rem corporis unde excepturi modi provident culpa laudantium iure assumenda, aspernatur ullam dignissimos recusandae eligendi animi iusto tenetur! Aspernatur corrupti et repudiandae, minus perferendis harum similique cumque reprehenderit.
  Id ea voluptate voluptatibus culpa, accusantium temporibus impedit ipsam quos dolore ex ratione cum velit rem aperiam at minus debitis. Doloremque delectus harum, magni rem distinctio totam repellat suscipit cupiditate?
  Laborum nihil id velit ullam, earum quis eveniet repellendus ea magnam labore harum ad dolorum illum reiciendis dolor minus numquam nam, rem eius nobis ducimus eos! Fuga alias dignissimos esse.
  Ratione, aspernatur! Repellat qui doloribus quibusdam eveniet quasi, commodi fuga praesentium soluta aperiam esse nobis ab aut iste! Laudantium suscipit earum quo inventore eveniet iste perspiciatis, itaque ex tenetur maiores?
  Animi molestiae ratione, ullam earum ex voluptatem quasi recusandae quis distinctio quo hic quia dolorum nam. Rem sapiente numquam quibusdam temporibus. Excepturi sunt facilis quod, ipsa maiores velit nobis repudiandae.
  Soluta iusto molestias dolore dicta sapiente distinctio molestiae quisquam, reprehenderit fuga enim nam minus delectus nisi harum libero quia sed fugiat! Facilis corrupti animi saepe temporibus numquam, inventore id nulla!
  Praesentium, placeat illo totam dolorum eveniet illum reprehenderit iure saepe molestias quibusdam aperiam et dicta voluptate corporis est iusto alias quidem enim atque. Vitae sit doloribus qui quis facere odio.
  Iusto, commodi id praesentium soluta odio, blanditiis esse asperiores laudantium corporis adipisci incidunt placeat est ullam. Pariatur iure consectetur, ab aspernatur minima maxime nam rem dolores laboriosam doloribus, cum facere!
  Tempore sapiente laudantium id odit, quam ex eius, sit delectus doloremque nemo consequuntur. Distinctio, perspiciatis eligendi? Beatae illum in, repellendus nobis laboriosam consequatur nesciunt? Cum accusantium doloremque ipsa repudiandae cupiditate!
  Ratione velit magni, facilis nostrum, maxime quis aspernatur assumenda repellendus vero saepe, incidunt ex architecto! Incidunt, possimus! Nihil pariatur incidunt quos, fugiat deserunt facere consectetur! Saepe consequuntur eum natus architecto?
  Quis commodi quas repudiandae quo, atque nam, minus sunt quibusdam error iste beatae eum quos ipsum recusandae praesentium eos perspiciatis fugiat voluptate saepe eveniet, fuga odit officia ad! Error, nisi!
  Perferendis optio quos consequatur cupiditate tempore voluptas nam, sequi quidem sunt nemo a possimus placeat recusandae labore vitae exercitationem praesentium? Sed distinctio quia nisi itaque inventore provident nesciunt adipisci ab?
  Inventore delectus alias officia quam hic deserunt quia ratione totam distinctio, aperiam tempora possimus adipisci temporibus explicabo, vel quas repellat unde sunt assumenda sit blanditiis quidem esse provident excepturi. Alias.
  Quia doloremque dicta, nam mollitia itaque nulla necessitatibus eligendi odit adipisci, libero illum, commodi vero incidunt consequuntur ut quam magnam. Repellat officia vel fuga explicabo corporis hic esse molestiae nihil!
  Quod, explicabo amet non, in, facilis aliquid ullam libero nulla incidunt facere quasi temporibus. Suscipit quam laudantium accusantium cumque inventore exercitationem molestias corporis facere reiciendis nulla, neque eum impedit labore.
  Inventore, eveniet blanditiis quod praesentium veniam nemo nam voluptatum, iure nisi animi culpa exercitationem, non asperiores repellat! Incidunt nulla iure, illo quasi, blanditiis tenetur ut, fuga quam magnam iste magni.
  Vitae, nostrum. Nesciunt quo hic, iste vel debitis ratione impedit illo similique temporibus voluptates molestiae exercitationem earum! Commodi voluptatem incidunt ab beatae mollitia atque rerum eum natus reprehenderit? Quas, nesciunt.
  Quaerat accusamus vero saepe a numquam recusandae labore commodi fugiat voluptas magnam minus eaque, eum iste. Expedita praesentium eligendi et, fugiat, dicta in vitae, ea quidem blanditiis beatae exercitationem odio!
  Aperiam ex ea fuga sapiente veniam quaerat nemo voluptates illo? In, quia? Minima eum iusto blanditiis, molestiae, velit error consequuntur voluptate mollitia tenetur voluptatibus enim deleniti placeat odio reiciendis provident?
  Magnam unde ratione qui minus, alias aliquid nesciunt non harum temporibus possimus iure libero dolores ut odit. Dolor earum expedita modi vitae maxime, assumenda magnam eius suscipit, eveniet dicta quas?
  Totam voluptatum, error eos tempora pariatur cumque ipsum? Natus ab excepturi incidunt exercitationem iusto possimus aspernatur, dignissimos eum necessitatibus eius, ullam quos optio repellendus laboriosam aliquam iste. Iste, incidunt laudantium?
  Ut dolore eveniet distinctio optio, commodi culpa ab facilis quia, vero labore dicta fugiat sunt unde, rem sapiente alias. Modi fuga in voluptatum laudantium temporibus ipsa. Provident id odio omnis?
  Minus libero sit ab et quisquam voluptatem quaerat debitis dignissimos, eaque maiores, recusandae quasi tenetur tempora architecto modi delectus commodi, magni est doloribus itaque molestias rem voluptates! Nesciunt, veritatis cumque.
  Veritatis incidunt perferendis soluta autem quae nihil, cupiditate ab. Libero quam assumenda fugiat saepe in voluptatem voluptatum. Explicabo quibusdam illum, ducimus placeat quam ut sed et cupiditate in delectus. Debitis?
  Molestias fugit, perferendis accusantium distinctio magnam eum impedit? Facilis quas quibusdam placeat labore, explicabo similique consequuntur eligendi unde laudantium voluptas ipsam laborum earum quidem tenetur ut corrupti maiores perferendis neque?
  Modi animi, eveniet saepe debitis laboriosam tempore id distinctio, voluptatum possimus dolores illum? Dicta velit esse blanditiis sequi, ad cum saepe eum laborum, doloremque dolores in earum sunt? Laudantium, possimus!
  Odio quod animi quaerat nisi officiis? Esse corrupti eius vel, soluta, possimus aspernatur impedit magnam unde veniam omnis laborum. Quasi, atque placeat tempore reprehenderit recusandae dolor eos quas minima quod.
  Accusamus illum neque voluptatem eos itaque hic maiores enim nulla esse expedita ex alias eveniet, fugiat ea quae id laboriosam sapiente, dolorum dolore. Modi necessitatibus, fuga harum quo animi architecto!
  Unde repellendus, placeat ab laudantium libero ipsam itaque est dolor voluptatem harum a reprehenderit quisquam iure nisi autem ipsa eos pariatur rerum. Maxime impedit in excepturi a? Cupiditate, quo recusandae.
  Laboriosam, consequuntur repudiandae magnam, at deserunt nihil aspernatur, minima provident autem error voluptates eius possimus! Eos placeat voluptatum explicabo, cumque rerum suscipit? Ducimus temporibus quibusdam, nam reiciendis illo atque alias.
  Assumenda omnis et placeat, praesentium tempore delectus est harum modi dolorem provident explicabo asperiores quod quae nam sit nihil. Repellendus reprehenderit ullam sapiente maxime corporis deleniti ratione repellat, eveniet eius?
  Molestiae numquam porro qui ipsam atque totam voluptates ut quidem tempore inventore nisi mollitia eveniet quo explicabo ipsum facilis quod exercitationem quasi magnam ea delectus adipisci id, odit quia. Quis.
  Incidunt fuga repellat harum facilis dolorem neque voluptatibus earum dignissimos libero modi quibusdam, est consequuntur, quam quae laboriosam nam animi quidem, doloremque doloribus cumque debitis voluptatum? Dolore, ratione. Minus, iure!
  Animi sequi optio fugiat voluptas asperiores ab molestiae aperiam necessitatibus quasi quibusdam illum sed, exercitationem in architecto dolores provident at totam minus blanditiis tempora nihil, earum repudiandae non? Officia, dicta?
  Id animi tempora dicta beatae a tenetur velit sequi? Praesentium maiores quos eaque magnam sunt tenetur optio aperiam, provident quod excepturi ducimus ab laudantium, a delectus reprehenderit ullam. Eligendi, corrupti.
  Itaque enim similique blanditiis tempore quas sed minima, laborum suscipit ducimus deserunt, provident ab consectetur nesciunt, sit neque harum esse ea cupiditate maxime optio cum reiciendis necessitatibus fuga? Sint, iusto.
  Quas itaque minus enim, eum neque velit culpa voluptas deserunt inventore nobis at exercitationem fugit dolor sed sequi odio impedit perspiciatis, modi quia eos? Placeat, odio iste! Natus, iure ratione?
  Dolorum expedita non cum similique natus iusto nisi sint deleniti dicta magnam nihil sapiente libero repellendus officiis, sit molestias accusamus aspernatur nam quibusdam amet, sequi officia autem quisquam voluptatem. Quae.

</div>

