html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.timed-view-from::before {
    content: "Dal "
}

.timed-view-to::before {
    content: " al "
}

li {
    border-top: 2px solid maroon;
    margin-top: 2px;
}
dl {
    border: 1px solid red;
    margin-top: 2px;
}
dt {
    float: left;
    margin-right: 5px;
}